:root{
    --vermelho: #E50914;
    --preto: #141414;
    --branco: #FFFFFF;
    --grey: #dbd8d8;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(0,0,0);
    color: var(--branco);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(74,71,71,1) 35%, rgba(159,153,153,1) 100%);
}

.netflix {
    background: rgb(0,0,0);
    color: var(--branco);
    background: url(./img/background.jpg);
    background-size: cover;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.container .title{
    padding: 70px 45px;
}
.container .title .content{
    width: 950px;
    margin: auto;
    padding: 75px 0;
    text-align: center;
}
.container .title .content h1{
    width: 650px;
    margin: auto;
    font-size: 3.1rem;
    text-align: center;
}
.container .title .content h2{
    width: 650px;
    margin: auto;
    font-size: 1.6rem;
    text-align: center;
}
.container .title .content form h4{
    font-size: 1rem;
    margin: 18px 0;
    text-align: center;
}
.container .title .content form .email{
    width: 1000px;
    margin: auto;
}
.container .title .content form .email input{
    height: 60px;
    width: 450px;
    margin: auto;
    padding: 20px;
    font-size: 20px;
    outline: none;
}
.container .title .content form .email button{
    margin: auto;
    height: 60px;
    width: 180px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    padding: 7px 17px;
    background: var(--vermelho);
    cursor: pointer;
    outline: none;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border: none;
    margin-left: -5px;
}
.container .title .content form .email button:hover{
    background-color: var(--vermelho);
}
.container .title .content form .email button a{
    text-decoration: none;
    color: var(--branco);
}

/* Filme principal */

.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url(/style/img/loki.jpg);
    height: 600px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
}

.titulo{
    margin-top: 5%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.botao{
    background-color: rgba(0,0,0, .50);
    border: none;
    color: white;
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover{
    background: white;
    color: black;
}

.botao i{
    margin-right: 8px;
}

/* mover container */

.container{
    margin-left: 30px;
}

.filme-principal .container{
    width: 70%;
}

.box-filmes{
    height: 100%;
    width: 100%;
    display: block;
}

.carrosel-filmes{
    margin-top: 5px;
}


/* Página principal */

.container .navbar .left{
    height: 100%;
    display: flex;
    float: left;
}

/* Tamanho da Logo */

.container .navbar .left img{
    height: 100px;
    position: absolute;
    left: 35px;
}

/* Idioma e Botão */

.container .navbar .right{
    display: flex;
    height: 100px;
    float: right;
    position: absolute;
    right: 50px;
}

/* Input de idioma */

.container .navbar .right .language{
    margin: auto;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    padding: 8px 10px;
    color: var(--branco);
    background: none;
    cursor: pointer;
    margin-right: 15px;
}

/* Botão */

.container .navbar .right button{
    margin: auto;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    padding: 8px 15px;
    background: var(--vermelho);
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    border: none;
}

/* Menu Index */

.container .navbar .right a{
    text-decoration: none;
    color: var(--grey);
    margin-right: 10px;
    margin: auto;
    font-size: 1rem;
    padding: 8px 15px;
}

.container .navbar .right a:hover{
    color: var(--branco);
}

.container .navbar .right button a{
    text-decoration: none;
    color: var(--branco);
}

